 <% include ./partials/header %>
 <div class="about-section">
   <div class="story">
     <div class="row">
       <h2 class="heading-primary">Our Story</h2>
       <div class="divider"></div>
       <div class="story-text">
         <p class="para">Our name is 00-Hack (Double O - Hack, think James Bond, 007) and our mission is to provide college students with disabilities an exclusive platform for searching for and applying to jobs.
           After an academic advisor shared with us a STEM access group struggling to get co-ops and internships, going back and forth through emails to hear about job opportunities, we saw a huge cry for help that could not go unattended to. We
           sought
           out to solve this problem by creating A11YRecruiter.
           A11YRecruiter is the first exclusive career services website for college students with disabilities. This website was made with accessibility positive frameworks and complies with all the Web Content Accessibility Guidelines(WCAG)2.0;
           the
           most universally accepted standard of web accessibility.
           We aspire to be the handshake platform that disabled students in college need.
           *The term <span class="term">‘a11y’</span> stands for accessibility in the disabled community. Let’s inform the masses!!!*</p>
       </div>
     </div>
   </div>
 </div>
 <div class="team-section">
   <div class="team-member">
     <h2 class="heading-primary">Meet The Team</h2>
     <div class="divider"></div>
     <div class="row">
       <div class="col-1-of-3">
         <div class="team-member-photo">
           <img src="../img/fred.png" alt="Photo of Fred">
         </div>
         <div class="team-member-info">
           <h3 class="heading-tertiary">Fred Amartey</h3>
           <p class="para">Co-founder</p>
           <p class="para">Full-stack Developer</p>
         </div>
       </div>

       <div class="col-1-of-3">
         <div class="team-member-photo">
           <img src="../img/terence2.png" alt="Photo of Ternce">
         </div>
         <div class="team-member-info">
           <h3 class="heading-tertiary">Terence Biney</h3>
           <p class="para">Co-founder</p>
           <p class="para">Full-stack Developer</p>
         </div>

       </div>

       <div class="col-1-of-3">
         <div class="team-member-photo">
           <img src="../img/abi.png" alt="Photo of Abi">
         </div>
         <div class="team-member-info">
           <h3 class="heading-tertiary">Abi Buckta </h3>
           <p class="para">Co-founder</p>
           <p class="para">Full-stack Developer</p>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- <div id="sections">
  <div class="story-container">
    <h2 class="h2style center-text">Our Story</h2>
    <div class="storytext">
      Our name is 00-Hack (Double O - Hack, think James Bond, 007) and our mission is to provide college students with disabilities an exclusive platform for searching for and applying to jobs.
      <br><br>
      After an academic advisor shared with us a STEM access group struggling to get co-ops and internships, going back and forth through emails to hear about job opportunities, we saw a huge cry for help that could not go unattended to. We sought
      out to solve this problem by creating a11yrecruiter.com
      <br> <br>
      a11yrecruiter.com is the first exclusive career services website for college students with disabilities. This website was made with accessibility positive frameworks and complies with all the Web Content Accessibility Guidelines(WCAG)2.0; the
      most universally accepted standard of web accessibility.
      <br><br>
      We aspire to be the handshake platform that disabled students in college need.
      <br>
      *The term ‘a11y’ stands for accessibility in the disabled community. Let’s inform the masses!!!*
    </div>
  </div>
  <div class="team-container">
    <h2>Meet The Team</h2>
    <div class="team">
      <div class="member">
        <div class="member-pic"> <img src="../img/fred.png" alt="Fred"></div>
        <div class="member-bio"> Fred Amartey <br> Co-founder <br> Full-stack Developer</div>
    </div>
    <div class="member">
      <div class="member-pic"> <img src="../img/terence2.png" alt="Terence"></div>
      <div class="member-bio"> Terence Budu-Biney <br> Co-founder <br> Full-stack Developer</div>
  </div>
  <div class="member">
    <div class="member-pic"> <img src="../img/abi.png" alt="Abi"></div>
    <div class="member-bio"> Abi Buckta <br> Co-founder <br> Full-stack Developer</div>
</div>
  </div>
  <div class="contact-container">

  </div>
</div> -->

 <% include ./partials/footer %>
