<% include ./partials/header %>
<div class="row u-margin-top-huge">
  <form action="/forgot" method="POST">
    <div class="form__group">
      <input type="email" name="email" id="email" placeholder="Email Address" class="form__input">
      <label class="form__label" for="email">Email Address</label>
    </div>
    <div class="form__group">
      <input type="submit" class="btn btn--medium-blue" value="Reset Password">
    </div>
  </form>

</div>
