<!DOCTYPE html>
<html>
<head>
	<title>a11yRecruiter</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/vizz.css">

</head>
<body>
	<header>
	  <div class="navigation__background navigation__nav">
		<nav class="navigation__header">
		  <div class="row">
		  	 <div class="navigation__logo">
				<a class="navigation__logo-link" href="">A11yRecruiter</a>
			</div>
			<ul class="navigation__list">
				<li class="navigation__item">
					<a class="navigation__link" href="">Blogs</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="">Career events</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link btn btn--medium-blue btn--sr" href="/login" class="">Log in</a>
				</li>
			</ul>
		  </div>
		</nav>
	</div>
     <div class="banner-caption">
     	<div class="row">
     		<div class="caption-container">
     			<div class="caption-cotent">
     				<h2 class="heading-caption heading-caption--main">Connecting Ambition with Opportunities.</h2>
     			     <h3 class="heading-caption heading-caption--sub">Bridging the gap between the disabled and the work-force.</h3>
     			</div>
     		</div>
     	</div>
     </div>
	</header>

	
</body>
