<!DOCTYPE html>
<html>
<head>
	<title>a11yRecruiter</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/vizz.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137683535-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-137683535-1');
	</script>


</head>
<body>
	<header>
	  <div class="navigation__background navigation__nav">
		<nav class="navigation__header">
		  <div class="row">
		  	 <div class="navigation__logo">
				<a class="navigation__logo-link" href="">A11yRecruiter</a>
			</div>
			<ul class="navigation__list">
				<li class="navigation__item">
					<a class="navigation__link" href="">About Us</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="">Career events</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link btn btn--medium-blue btn--sr" href="/login" class="">Log in</a>
				</li>
			</ul>
		  </div>
		</nav>
	</div>
		<div class="row">
			<% if(success && success.length > 0) { %>
				<div class="message-container message-success">
					<p class="u-center-text success-text"><%= success %></p>
				</div>
			<%}%>
		</div>
     <div class="banner-caption">
     	<div class="row">
     		<div class="caption-container">
     			<div class="caption-cotent">
     				<h2 class="heading-caption heading-caption--main">Connecting Ambition with Opportunities.</h2>
     			     <h3 class="heading-caption heading-caption--sub">Bridging the gap between the disabled and the work-force.</h3>
     			</div>
     		</div>
     	</div>
     </div>
	</header>
</body>
