
<html lang="en">
    <head>
        <title>a11yRecruiter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        
    </head>
    <body>
        
        <header>
                    <nav class = "navbar navbar-default mediumBlue navbar-fixed-top" role = "navigation">
                        <div class = "container">
                            <div class = "navbar-header">
                                
                                    <a class="navbar-brand" href="/jobs"><span class="subhead">A11y Recruiters</span></a>
                                <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#collapse">
                                    <span class= "sr-only">Toggle navigation </span>
                                    <span class="iconbar"></span>
                                    <span class="iconbar"></span>
                                    <span class="iconbar"></span>
                                   
                                </button>
                               
                            </div><!-- navbar-header -->
                            <div class="collapse navbar-collapse" id="collapse">
                              <ul class="nav navbar-nav navbar-right">
                                  <%if(!currentUser) { %>
                                    <li id = "darkBlue"><a href ="/about" id = "bootstrap-overrides">About Us</a></li>
                                <li><a href="#" id = "bootstrap-overrides">Employers</a>
                                </li>
                                <li><a href="/login" id = "bootstrap-overrides">Login</a></li>
                                <li><a href="/register" id = "bootstrap-overrides">SignUp</a></li>
                                <% }else{ %>
                                    <li><a href="#"></a>Singed In as <%=currentUser.username %></li>
                                    <li><a href="/logout" id = "bootstrap-overrides">Logout</a></li>
                                <% } %>
                               </ul>       
                            </div><!-- collapse navbar-collapse -->
                            </div><!-- container -->
                    </nav>
                </header>

                <div class="container">

        <div class="item f1">
            <form class="fl" action="https://www.marius.dev/projects/cool-registration-form.com/assets/signup.php" method="POST">
                <h1>Create Account</h1>
                <input class="form-input" type="text" name="name" placeholder="Name">
                <!-- <input class="form-input" type="text" name="surename" placeholder="Surename"> -->
                <input class="form-input" type="text" name="email" placeholder="E-mail">
                <input class="form-input" type="password" name="pwd" placeholder="Password">
                <input class="form-input" type="password" name="pwd-repeat" placeholder="Repeat Password">
                <button class="btn btnR" type="submit" name="reg">Register</button>
            </form>
        </div>

        <div class="item f2">
            <div class="center">
                <h1 class="l">Register Account</h1>
                <!-- <h3 class="l">Register Account</h3> -->
            </div>
            <div class="center">
                <h1 class="r">Log in</h1>
                <!-- <h3 class="r">Log in</h3> -->
            </div>
            <button class="btn btnSi">
                <div class="pos bR">Register</div>
                <div class="pos bL">Log in</div>
            </button>
        </div>

        <div class="item f3">
            <form class="fl" action="https://www.marius.dev/projects/cool-registration-form.com/assets/login.php" method="POST">
                <h1>Log In</h1>
                <input class="form-input" type="text" name="mailuid" placeholder="E-mail">
                <input class="form-input" type="password" name="pwd" placeholder="Password">
                <button class="btn btnL" type="submit" name="login">Log in</button>
            </form>
        </div>

    </div>

    <script src="js/main.js"></script>
</body>

</html>
        
     