<% include ../partials/header %>

        <div class="margin-top-huge margin-bottom-small">
            <h2 class="heading center-text">New Job Post</h2>
        </div>
    <div class="row">
        <form class="jobpost_form" action="/jobs" method="POST">
            <div class="form__group-job">
                    <div class="col-1-of-2">
                         <input class="form__input form__input-job" type="text" name="job[title]" placeholder="Job Title">
                    </div>
                <div class="col-1-of-2">
                    <input class="form__input form__input-job" type="text" name="job[company]" placeholder="Company Name">
                </div>
            </div><!-- form__group -->

            <div class="form__group-j">
                <div class="col-1-of-2">
                    <input class="form__input form__input-job" type="text" name="job[type]" placeholder="Job Type eg. Fulltime job position or Internship">
                </div>
                <div class="col-1-of-2">
                     <input class="form__input form__input-job" type="text" name="job[location]" placeholder="Location - eg City, State">
                </div>
            </div><!--form__group-job-->

           <div class="form__group">
                <input class="form__input " type="text" name="job[applydate]" placeholder="Apply date - eg Apply before MM/DD/YYYY">
          </div>
            <div class="form__group">
                <textarea rows="12" cols="55" class="form__input form__input-textarea" name="job[description]" placeholder="Job description"></textarea>
            </div>
             <div class="form__group">
                <textarea rows="12" cols="55" class="form__input form__input-textarea" name="job[requirements]" placeholder="Job requirements"></textarea>
            </div>
            <input class="" type="Submit" value="Submit">
        </form>
    </div>

<% include ./partials/footer%>
